/* nav-bar */
.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
}

.navbar ul li a{
    font-size: 0.9rem;
}

/* Headings */
.headings{
    font-size: 2.5rem;
}

.headingstype{
    font-size: 3rem;
}

/* About */
#intro h2{
    text-align: center;
    padding: 10px;
}

/* portfolio */
.box{
    height: 100%;
}

/* Contact */
.input {
    width: 60%;
}
#msg{
    width: 55%;
}
#send {
    width: 30%;
}